{% extends 'base_register.html' %}
{% load i18n %}

{% block content %}

    <section class="form-login">
        <div class="form-login-content">
            <div class="form-login-block forgot-password purple-card">
                <h2>Восстановление пароля</h2>
                <p class="subheader">Введите email, который<br>
                    вы использовали при регистрации.
                </p>
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="email" name="email" id="email-user" required
                           placeholder="Электронная почта">
                    {% if form.errors %}
                        <p style="color:#ff0000;">Пользователь не существует</p>
                    {% endif %}
                    <button class="btn btn-blue">Восстановить</button>
                </form>
                {#                <p><a href="password_reset_form.html">{% trans "Забыли пароль?" %}</a> </p>#}
            </div>
            <footer class="footer-form forgot-password-footer">
                <a href="{% url 'register' %}">Регистрация</a>
                <a href="{% url 'login' %}">Войти</a>
            </footer>
        </div>
    </section>
{% endblock %}
