{% extends 'base_register.html' %}
{% load i18n %}

{% block content %}
    <section class="form-login">
        <div class="form-login-content">
            <div class="form-login-block forgot-password purple-card">
                <div class="container p-4">
                    <h2 class="font-weight-bold mt-3">Пароль успешно изменен</h2>
                    <hr>
                    <p>Ваш новый пароль установлен. Можете входить в систему.</p>
                    <br>
                    <br>
                    <a href="{% url 'login' %}" class="btn btn-primary">Логин</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
