{% extends 'base.html' %}
{% load i18n %}

{% block side_block %}
  {% for key, value in subject_dict %}

    <li class="link-nav">
    <span>
                            <span class="link-name">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path
                                      d="M21 4H7C6.46957 4 5.96086 4.21071 5.58579 4.58579C5.21071 4.96086 5 5.46957 5 6C5 6.53043 5.21071 7.03914 5.58579 7.41421C5.96086 7.78929 6.46957 8 7 8H21V21C21 21.2652 20.8946 21.5196 20.7071 21.7071C20.5196 21.8946 20.2652 22 20 22H7C5.93913 22 4.92172 21.5786 4.17157 20.8284C3.42143 20.0783 3 19.0609 3 18V6C3 4.93913 3.42143 3.92172 4.17157 3.17157C4.92172 2.42143 5.93913 2 7 2H20C20.2652 2 20.5196 2.10536 20.7071 2.29289C20.8946 2.48043 21 2.73478 21 3V4ZM20 7H7C6.73478 7 6.48043 6.89464 6.29289 6.70711C6.10536 6.51957 6 6.26522 6 6C6 5.73478 6.10536 5.48043 6.29289 5.29289C6.48043 5.10536 6.73478 5 7 5H20V7Z"
                                      fill="#CBD4E0"/>
                                </svg>
                                {{ key }} класс
                            </span>
                            <svg class="arrow-r" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path
                                  d="M9.70193 18.0104L15.7123 12L9.70194 5.98959L8.28772 7.40381L12.8839 12L8.28772 16.5962L9.70193 18.0104Z"
                                  fill="#8D9FBB"/>
                            </svg>
                        </span>
    <ul class="sub-link">
      {% for item in value %}
        <li><a href="{% url 'detail' item key %}">{{ item }}</a></li>
      {% endfor %}

    </ul>
  {% endfor %}
</li>
{% endblock %}

{% block content %}
  {% load static %}
  <div class="content-page ">
    {#        <ul class="crumb bg-shadow">#}
    {#            <li><a href="../index.html">Yergali</a></li>#}
    {#            <li class="mob-hidden">\</li>#}
    {#            <li class="mob-hidden"><a href="#">{{ book_name }}</a></li>#}
    {#            <li class="mob-hidden">\</li>#}
    {#            <li class="pc-visible">\ ... \</li>#}
    {#            <li>Чеботаревская (Часть 1, 2)</li>#}
    {#        </ul>#}
    <section class="school-subject">
      <header class="bg-shadow blue-card header-school-subject">
        <div class="img-sc-subject">
          <img src="{% get_media_prefix %}{{ book_image }}" alt="">
        </div>
        <div class="sc-subject-info">
          <h2>{{ book_name }}</h2>
          <ul class="text-list">
            <li>
              <span>Автор:</span>
              <p>{{ book_author }}</p>
            </li>
            <li>
              <span>Год:</span>
              <p>{{ book_year_published }}</p>
            </li>
            <li>
              <span>Издательство:</span>
              <p>{{ book_publisher }}</p>
            </li>
          </ul>
        </div>
      </header>
      <div class="school-subject-description">
        <div class="row-text">
          <p>{{ book_description }}</p>
        </div>

      </div>
      <a class="more-load">Читать полностью</a>
    </section>
    <section class="answers">
      <h2>Ответы:</h2>
      <header class="answers-nav">
        <form action="#">
          <div class="input-search">
            {#                        <input type="search" name="search-page" id="search-page" placeholder="Поиск">#}
            {#                        <button><img src="../../book/static/img/icons/search.png" alt="Поиск"></button>#}
          </div>
        </form>
        <nav class="row-btn answer-menu">
          {#                    <a class="btn btn-white" href="#one-link">1 часть</a>#}
          {#                    <a class="btn btn-white" href="#two-link">2 часть</a>#}
          {#                    <a class="btn btn-white" href="#three-link">3 часть</a>#}
          {#                    <a class="btn btn-white" href="#four-link">Контрольные вопросы</a>#}
        </nav>
      </header>
      {% if expire %}
        <div class="alert-block info-block">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 7H13V9H11V7Z" fill="#1C85E8"/>
            <path d="M13 11V15H14V17H11V13H10V11H13Z" fill="#1C85E8"/>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M20 3H4C3.447 3 3 3.448 3 4V20C3 20.552 3.447 21 4 21H20C20.553 21 21 20.552 21 20V4C21 3.448 20.553 3 20 3ZM5 19V5H19V19H5Z"
                  fill="#1C85E8"/>
          </svg>
          <span>Без подписки доступ ограничен 5-ю заданиями.</span>
          {% if user.is_authenticated %}
            <a href="{% url 'payment' %}">Оформить подписку</a>
          {% else %}
            <a href="{% url 'login' %}">Оформить подписку</a>
          {% endif %}
        </div>
      {% endif %}
      <div id="accordion" class="accordion">
        <div id="one-link" class="accordion-item">
          {#                    <div class="accordion-item-header">#}
          {#                        <span class="acc-name">Математика. 1 часть</span>#}
          {#                        <svg class="arrow-r" width="24" height="24" viewBox="0 0 24 24" fill="none"#}
          {#                             xmlns="http://www.w3.org/2000/svg">#}
          {#                            <path d="M9.70193 18.0104L15.7123 12L9.70194 5.98959L8.28772 7.40381L12.8839 12L8.28772 16.5962L9.70193 18.0104Z"#}
          {#                                  fill="#8D9FBB"></path>#}
          {#                        </svg>#}
          {#                    </div>#}
          <div>
            <div class="tabs">
              <ul class="tabs-nav">
                {% for i in answer_number_list %}
                  <!-- Кнопки -->
                  {% if not expire %}
                    <li><a class="small-btn" href="#tab-{{ i }}">{{ i }}</a></li>
                  {% else %}
                    {% if i < 6 %}
                      <li><a class="small-btn" href="#tab-{{ i }}">{{ i }}</a></li>
                    {% else %}
                      <li><a class="small-btn-white" href="#tab-{{ i }}">{{ i }}</a></li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </ul>

              {% for i, j in answer_list %}
                <!-- Контент -->
                <div class="tabs-items">
                  {% if not expire %}

                    <div class="tabs-item" id="tab-{{ i }}">
                      <img src="{% get_media_prefix %}{{ j }}" alt="">
                    </div>
                  {% else %}
                    {% if i < 6 %}
                      <div class="tabs-item" id="tab-{{ i }}">
                        <img src="{% get_media_prefix %}{{ j }}" alt="">
                      </div>
                    {% endif %}

                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
  </div>

{% endblock %}
