/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@media(max-width:1180px) {
    .width-layout {
        width: 1024px;
    }

    .main-content section {
        width: 800px;
    }

    .navigation-page .sub-link {
        padding-left: 25px;
    }

    .school-card {
        width: 48%;
    }

    .school-card:nth-of-type(3),
    .school-card:nth-of-type(6),
    .school-card:nth-of-type(9),
    .school-card:nth-of-type(12),
    .school-card:nth-of-type(15),
    .school-card:nth-of-type(18),
    .school-card:nth-of-type(21),
    .school-card:nth-of-type(24),
    .school-card:nth-of-type(27),
    .school-card:nth-of-type(30) {
        margin-right: 25px;
    }

    .school-card:nth-of-type(2),
    .school-card:nth-of-type(4),
    .school-card:nth-of-type(6),
    .school-card:nth-of-type(8),
    .school-card:nth-of-type(10),
    .school-card:nth-of-type(12),
    .school-card:nth-of-type(14),
    .school-card:nth-of-type(16),
    .school-card:nth-of-type(18),
    .school-card:nth-of-type(20) {
        margin-right: 0px;
    }

    .about-info {
        padding-left: 25px;
    }
    .answers-nav{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .answer-menu{
        margin-top: 15px;
    }
    .answer-menu .btn{
    display: inline-block;
    }
    .answers-nav form{
        width: 100%;
    }
    .answers-nav .input-search{
        width: 100% !important;
    }
    .subscription-item{
        width: 48.6%;
    }
}

@media(max-width:1040px) {
    .width-layout {
        width: 960px;
    }
    .main-content section{
        width: 760px;
    }
    .col-5{
        width: 100%;
        margin-right: 0;
    }
    p.col-5{
        margin-bottom: 15px;
    }
    p.col-5:last-of-type{
        margin-bottom: 0;
    }
    .subscription-section{
        width: 100% !important;
    }
    .subscription-item{
        width: 48.5%;
    }
    .payment-content .select-row{
        width: 295px;
    }
}
@media(max-width:970px) {
    .width-layout {
        width: 768px !important;
    }
    .humb-icons{
        display: block !important;
        cursor: pointer;
    }
    .user-icons{
        display: block !important;
        margin-right: 15px;
    }
    .user-icons a:hover{
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
    }
    .row-btn{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .main-content section{
        padding-left: 0;
    }
    .header-right{
        padding-left: 0;
    }
    .input-search{
        width: 260px;
    }
    .btn-pc{
        display: none;
    }
    .left-navbar{
        position: absolute;
        left: -300px;
        z-index: 9;
        -webkit-transition-duration: 0.3s;
             -o-transition-duration: 0.3s;
                transition-duration: 0.3s;
    }
    .header-page{
        padding: 10px 0;
        width: 100% !important;
        padding-right: 20px;
        z-index: 10;
    }
    .nav-open{
        -webkit-transition-duration: 0.7s;
             -o-transition-duration: 0.7s;
                transition-duration: 0.7s;
        left: 0;
        z-index: 9;
        height: 100vh;
    }
    .nav-open .overlay-menu{
        position: absolute;
        top: 0;
        left: 260px;
        width: 200%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.507);
        z-index: 9999;
    }
    .scroll-none{
        overflow: hidden !important;
    }
    .main-content section{
        width: 100%;
    }
    .header-page::after{
        display: none;
    }
    .crumb{
        margin-left: 0;
    }
    .school-subject .more-load{
        -webkit-transform: translateY(-15px);
            -ms-transform: translateY(-15px);
                transform: translateY(-15px);
        display: inline-block;
    }
    .acc-btn-row{
        display: none;
    }
}
@media(max-width:768px) {
    .width-layout {
        width: 640px !important;
    }
    .about-row{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .about-info{
        margin-top: 30px;
    }
    .header-page{
        width: 100% !important;
    }
    .subscription-item{
        width: 100%;
        margin-right: 0 !important;
    }
    .payment-content form .input-row{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .payment-content .select-row{
        width: 100%;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .payment-content .select-row:last-of-type{
        margin-bottom: 0;
    }
    .overlay .modal{
        width: 90%;
    }
    .content-modal{
        padding: 45px 28px;
    }
    .subscription-item footer{
        height: auto !important;
    }
}
@media(max-width:670px) {
    .width-layout {
        width: 480px !important;
    }
    .header-page{
        width: 100% !important;
    }
    .school-card{
        width: 100%;
        margin-right: 0 !important;
    }
    .logo{
        min-width: auto !important;
        margin-right: 30px;
    }
    .search-icons{
        display: block;
        margin-right: 15px;
    }
    .header-right .input-search{
        position: absolute;
        top: 52px;
        right: -130%;
        width: 100%;
        -webkit-transition-duration: 0.5s;
             -o-transition-duration: 0.5s;
                transition-duration: 0.5s;
    }
    .header-school-subject{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .sc-subject-info{
        margin-left: 0;
    }
    .alert-block{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .alert-block a{
        margin-left: 35px;
        margin-top: 5px;
    }
    .sc-subject-info h2{
        text-align: center !important;
    }
    .img-sc-subject{
        margin: 0 auto;
    }
}
@media(max-width:500px) {
    .width-layout {
        width: 370px !important;
    }
    .header-page{
        width: 100% !important;
    }
    .about-row{
        padding: 25px;
    }
    .about-info{
        padding-left: 0;
    }
    .logo p{
        display: none !important;
    }
    .content-page {
        width: 100%;
    }
    .answer-menu{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin-top: 5px;
    }
    .answers-nav .btn{
        margin-left: 0 !important;
        margin-right: 15px;
        margin-top: 10px;
    }
    .alert-block a{
        margin: 0 auto;
        margin-top: 10px;
        display: block;
    }
    .alert-block svg{
        margin: 0 auto;
        margin-bottom: 10px;
        display: block;
    }
    .alert-block{
        text-align: center;
    }
    .mob-hidden{
        display: none;
    }
    .pc-visible{
        display: block;
    }
    .answer-menu .btn{
        line-height: 15px !important;
        padding: 10px !important;
    }
    .text-list li{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .text-list li span{
        width: 100%;
        margin-bottom: 3px;
    }
    .text-list h2{
        font-size: 19px;
    }
    .text-list li span{
        font-size: 16px;
    }
    .text-list li p{
        font-size: 15px;
    }
    h2{
        font-size: 20px;
    }
    .popular-books{
        width: 100% !important;
    }
    .popular .owl-nav{
        display: none !important;
    }
    .owl-dots{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 15px;
    }
    .owl-dot{
        width: 8px;
        height: 8px;
        background-color: #E0F0F7 !important;
        display: block;
        border-radius: 90px;
        margin: 0 3px;
    }
    .owl-dot.active{
        background-color: #0197D7 !important;
    }
    .results-item h2{
        font-size: 19px;
        padding-right: 20%;
    }
    .h2-row{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .h2-row span{
        margin-left: 0;
        margin-bottom: 0;
    }
    .logo, .logo img{
        margin-right: 0;
    }
    .form-login-block{
        width: 90%;
        padding: 30px 15px;
    }
    .form-login-block h2{
        font-size: 21px;
        margin-bottom: 20px;
    }
    .form-login-block p{
        font-size: 14px;
    }
    
    .subscription-section .btn-row > div:first-of-type{
        margin-left: 0;
    }
   
}
@media(max-width:400px) {
    .width-layout {
        width: 320px !important;
    }
    .header-page{
        width: 100% !important;
    }
    .about-row{
        padding: 25px;
    }
    .about-info{
        padding-left: 0;
    }
    .footer-content{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .footer-content p{
        margin-top: 10px;
    }
    .about-img img{
        width: 100%;
    }
    .header-right .input-search{
        width: 100%;
        right: -290%;
    }
    .content-page {
        padding-left: 15px;
        padding-right: 15px;
    }
    .popular-books{
        width: 100% !important;
    }
    .subscription-section .btn-row{
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .payment-content .row-btn{
        -ms-flex-wrap: wrap-reverse;
            flex-wrap: wrap-reverse;
    }
    .payment-content .row-btn a{
        width: 100%;
        margin-left: 0;
        text-align: center;
        margin-top: 15px;
    }
    .payment-content .row-btn button{
        width: 100%;
        margin-left: 0;
    }
    .select-sorting label{
        display: none;
    }
}