<!DOCTYPE html>
<html lang="ru">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ГДЗ Yergali</title>
  <link rel="stylesheet" href="{% static 'style/ui-kit.css' %}">
  <link rel="stylesheet" href="{% static 'style/style.css' %}">
  <link rel="stylesheet" href="{% static 'style/media.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">
</head>

<body>
<div class="element-block">
  <div class="row">
    <div class="col-4">
      <p>Ссылка:</p>
    </div>
    <div style="margin-left: 50px" class="col-4">
      <a href="#">Регистрация</a>
    </div>
  </div>

</div>
<style>
  .element-block {
    width: 1160px;
    margin: 0 auto;
    padding-top: 80px;
  }
</style>
</body>

</html>
